@mixin sectionColor($textColor, $backgroundColor){
  color: $textColor;
  background-color: $backgroundColor;
}
#contact_info div {
  display: inline-block;
  margin: 20px;
}

#section1 #section2 #section3 #section4 #section5{
@include sectionColor(orange, blue);
}
