@mixin sectionColor($textColor, $backgroundColor){
  color: $textColor;
  background-color: $backgroundColor;
}
#contact_info div {
  display: inline-block;
  margin: 20px;
}

#section1 {
@include sectionColor(blue, orange);
}
#section2{
@include sectionColor(yellow, red);
}
#section3{
@include sectionColor(purple, green);
}
#section4{
@include sectionColor(orange, blue);
}
#section5{
@include sectionColor(green, purple);
}
