@mixin sectionColor($textColor, $backgroundColor){
  color: $textColor;
  background-color: $backgroundColor;
}
#contact_info div {
  display: inline-block;
  margin: 20px;
}

#section1, #section2, #section3, #section4, #section5{
@include sectionColor(#061539, #7887AB);
}

#section5 p, #section5 h3{
  background: rgba(120, 135, 171, .8);
  padding: 0px;
  margin: 0px;
}

img{
  height: auto;
  width: auto;
}
