*{
  box-sizing: border-box;
}
html, body { min-height: 100%; }
body{
  background:linear-gradient( white, #2180DC);
}

.introductionInfo{
  align-content: center;
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.introQuote,.introQuote p{
  width: 50%;
  margin: 0 auto;
  color: blue;
}
.quoteLetter{
  color: black;
}
.introductionInfo h1{
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
.introQuote{
  margin: 0 auto;
  width: 100%;
}
.projectInfo{
  width: 100%;
  height: 100%;
}

.individualProjectDiv{
  display: inline-block;
  background-repeat: no-repeat;
  width: 30%;
  height: 300px;
  margin: 0;
  padding: 1%;
  border-style: dashed;
}
.individualProjectContent{
  color: #04417B;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.individualProjectContent a{
  color: #04417B;
  text-decoration: none;
}
.individualProjectContent a:hover{
  color: #2180DC;
  border-bottom-style: solid;
}
#menuBuilderProject{
background-image: url("images/Macronutrient Menu Builder.png");
}

#concentrationProject{
background-image: url("images/Concentration.png");
}
#crudProject{
background-image: url("images/Where's my Money.png");
}

.contactInfo {
  color: black;
  margin:auto;
  padding: 10px;
  position: fixed;
  border-style: solid;
  border-radius: 10%;
}
